/***********Breakpoints**************
X-Small	        None	    <576px
Small	        sm	        ≥576px
Medium	        md	        ≥768px
Large	        lg	        ≥992px
Extra-large     xl	        ≥1200px
Ex-ex-large	    xxl	        ≥1400px 
*************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

:root{
    
}

.container{
    width: 80%;
    margin-top: 20px;
}