/***********Breakpoints**************
X-Small	        None	    <576px
Small	        sm	        ≥576px
Medium	        md	        ≥768px
Large	        lg	        ≥992px
Extra-large     xl	        ≥1200px
Ex-ex-large	    xxl	        ≥1400px 
*************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
body{
    background-image:
        linear-gradient(
            to bottom,
            #359589 0px,
            #359589 15vh,
            #d9dbd7 15vh,
            #d9dbd7 100%
        );
    height: 100vh;
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}
#col-left,
#col-right{
    background-color: #e9eaed;
}

#app{
    height: 95%;
}

:root{
    --bg-notifications: #909090;
}

.col-4{
    padding-left: 0;
    padding-right: 0;
}

.contact:hover{
    background-color: #d0d0d0;
}

.container{
    width: 80%;
    height: 90%;
    margin-top: 20px;
    border: 1px solid grey;
}

#notifications{
    background-color: #8cd7fa;
}

.fa-bell-slash{
    background-color: #ffffff; 
    color: #8cd7fa;
    padding: 5px;
    height: 45px;
}

#last-message{
    font-size: 13px;
    color: gray;
}

#last-message-date-container{
    position: relative;
}

#last-message-date{
    font-size: 10px;
    color: gray;
    position: absolute;
    right: 0;
}
.sent span,
.received span{
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 12px;
    color: #cac9c9;
}


.sent,
.received{
    width: 40%;
    color: white;
}

.sent{
    background-color: #0fbf56;
    margin-left: auto;
}

.received{
    background-color: #909090;
}